.testimonial__content h2 {
  font-weight: 600;
}

.carousel-item{
  position: relative;
  padding: 100px;
}
.carousel-item-style{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  max-width: 55vw;
  min-height: 20vh;
}


#testimonials_section{
  /* font-family: "linotype-didot"; */
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  min-width: 100vw;
  min-height: 70vh;
  align-items: center;
  margin: auto;
  color: black;
}